In [ ]:
avg

In [ ]:

number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))

average = (number1 + number2) / 2

print("The average of", number1, "and", number2, "is", average)

Enter the first number: 6
Enter the second number: 6
The average of 6.0 and 6.0 is 6.0

In [ ]:
def mul (num):
  for i in range (1,11):
    mul=num*i;
    if (i==6):
      continue;
    print (num, "x" , i, "=", mul);
    if (i==8):
      break;

num = int(input("Enter the first number: "))
print ("Multiplication")
mul(num)

Enter the first number: 5
Multiplication
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 7 = 35
5 x 8 = 40

In [ ]:
def mul(num):
  for i in range(1,11):
    num=6;
    c=6*i;

    if i==6:
      continue;
    if i==9:
      break;
    print (num, "x" , i, "=", mul);
    mul(num);

In [ ]:
list1 = [1,2,3,4,5]
sum=0
for i in list1:
  if i%2==0:
    sum = sum+i
print (f"sum of even = {sum}")

sum of even = 6

In [ ]:
list1 = [1,2,3,4,5]
even= 0
odd= 0

for i in list1:
  if i % 2 == 0:
    sum=sum+i
    even+= 1
  else:
    odd+= 1



print(f"Even numbers: {even}")
print(f"Odd numbers: {odd}")

Even numbers: 2
Odd numbers: 3

In [ ]:
a = [1, 3, 5, 7, 4]


length_of_list = len(a)
print("Length:", length_of_list)


type_of_list = type(a)
print("Type:", type_of_list)


element_in_neg2 = a[-2]
print("index -2:", element_in_neg2)


element_in_2 = a[2]
print("index 2:", element_in_2)

Length: 5
Type: <class 'list'>
index -2: 7
index 2: 5

In [ ]:
a = [1, 3, 5, 7, 4]

a[-3] = 50
print("Updated list:", a)

slice_2_4 = a[2:4]
slice_to_neg3 = a[:-3]
slice_neg4_to_neg1 = a[-4:-1]

print("a[2:4]:", slice_2_4)
print("a[:-3]:", slice_to_neg3)
print("a[-4:-1]:", slice_neg4_to_neg1)


a.append(100)
a[2] = 200
print("Updated list:", a)

a.pop()
print ("After remove", a)
a.pop(1)
print ("After delete", a)

Updated list: [1, 3, 50, 7, 4]
a[2:4]: [50, 7]
a[:-3]: [1, 3]
a[-4:-1]: [3, 50, 7]
Updated list: [1, 3, 200, 7, 4, 100]
After remove [1, 3, 200, 7, 4]
After delete [1, 200, 7, 4]

set

In [ ]:
a = {1, 3, 5, 8, 3, 7}
b = {0, False, 1, 5}


print("Length'a':", len(a))
print("Length'b':", len(b))
print("Type'a':", type(a))
print("Type'b':", type(b))

a.add(10)
print("Updated Set:",a)

a.remove(8)
print ("After Removed Set:",a)

union_ab = a | b
intersection_ab = a & b
difference_ab = a - b

print("Union a and b:", union_ab)
print("Intersection a and b:", intersection_ab)
print("Difference (a - b):", difference_ab)

for element in a:
    print(element)

    if element == 5:

       break




list = [2,3,4]

new_set = set(list)
result = a.union(new_set)
print(result)

Length'a': 5
Length'b': 3
Type'a': <class 'set'>
Type'b': <class 'set'>
Updated Set: {1, 3, 5, 7, 8, 10}
After Removed Set: {1, 3, 5, 7, 10}
Union a and b: {0, 1, 3, 5, 7, 10}
Intersection a and b: {1, 5}
Difference (a - b): {10, 3, 7}
1
3
5
{1, 2, 3, 4, 5, 7, 10}

In [ ]:
from collections.abc import MutableMapping
Employee = {
    "name": "A",
    "age": 40,
    "type": {
        "developer": ["ios", "android"]
    },
    "parmanent": True,
    "Salary": 3000,
    100: (1, 2, 3),
    4.5: {5, 6, True, 7, 1}
}


print("Length of Employee:", len(Employee))
print("Type of Employee :", type(Employee))


developer_types = Employee["type"]["developer"]
print("Developer types:", developer_types)

Employee["parmanent"] = False

print("After update:", Employee)

Length of Employee: 7
Type of Employee : <class 'dict'>
Developer types: ['ios', 'android']
After update: {'name': 'A', 'age': 40, 'type': {'developer': ['ios', 'android']}, 'parmanent': False, 'Salary': 3000, 100: (1, 2, 3), 4.5: {True, 5, 6, 7}}